body {
  margin: 40px;
  background: linear-gradient(90deg, rgba(181,101,118,1) 35%, rgba(34,193,195,1) 100%);
}
.jumbotron {
  background-color: rgba(253, 253, 253, 0.555);
  text-align: center;
}
#resultsDisplay {
  padding: 20px;
  margin: 20px;
  width: 810px;
  border: solid rgba(4, 120, 173, 0.747);
  border-width: 2px;
  display: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 80%;
}
